@media(max-width:1440px){
.slider-info h5 {
    font-size: 57px;
	letter-spacing: 2px;
    margin-bottom: 8px;
}
.slider-img {
    min-height: 750px;	
}
.slider-info {
    padding: 22em 0 0;
}
}
@media(max-width:1280px){
.register-form input[type="text"], .register-form input[type="email"], .register-form input[type="password"] {
    font-size: 15px;
}
}
@media(max-width:1080px){
.outs_more-buttn a{
    padding:8px 19px;
}
}
@media(max-width:1050px){
.slider-info h5 {
    font-size: 49px;
    margin-bottom: 6px;
}
.slider-img {
    min-height: 711px;
}
}
@media(max-width:1024px){
.register-form input[type="text"], .register-form input[type="email"], .register-form input[type="password"] {
    margin-bottom: 12px;
}
}
@media(max-width:991px){
.info-contact-agile ul li span {
    font-size: 16px;
}
h1 a.navbar-brand {
    font-size: 30px;
}
div#navbarSupportedContent {
    background:transparent;
    text-align: center;
    padding: 13px 0px;
}
.navbar-light .navbar-nav .nav-link {
    padding: 12px 15px;
}
.navbar-light .navbar-toggler {
    background: transparent;
    border: none;
    padding: 2px 6px;
    margin-top: 0px;
    outline: none;
    margin-right: 0px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.navbar-light .navbar-toggler:hover {
}
}
@media(max-width:900px){
.slider-img {
    min-height: 652px;
}
.slider-info {
    padding: 20em 0 0;
}
.slider-info h5 {
    font-size: 44px;
	letter-spacing:1px;
}
.slider-info p {
    font-size: 15px;
    letter-spacing: 1px;
}
}
@media(max-width:800px){
.icons ul li a span, .cart-icons ul li span, .icons-social ul li span {
    font-size: 14px;
    width: 35px;
    height: 35px;
    line-height: 32px;
    margin: 0px 3px;
}
}
@media(max-width:768px){
.slider-info h5 {
    font-size: 42px;
}
.news-agile-text span {
    font-size: 16px;
}
.carousel-control-prev {
 left: -22px;
}
.carousel-control-next {
    right: -23px;
}
.clients-says-w3layouts {
    padding: 22px 0px 0px;
}
.clients_more-buttn a, .sent-butnn {
    margin: 14px 0px;
	padding: 8px 23px;
}
.abut-gride h5 {
    font-size: 22px;
}
}
@media(max-width:767px){
.search-right input[type="search"] {
    width: 74%;
}
.search-right button {
    width: 26%;
}
.slider-info h5 {
    font-size: 39px;
}
.slider-info p {
    font-size: 14px;
}
.slider-img {
    min-height: 620px;
}
.slider-info {
    padding: 19em 0 0;
}
h1 a.navbar-brand {
    font-size: 28px;
}
.search-right {
    margin: 16px 0px;
}
.slider-info {
    padding: 22em 0 0;
}
}
@media(max-width:667px){
.slider-info h5 {
    font-size: 36px;
}
}
@media(max-width:640px){
h1 a.navbar-brand {
    font-size: 26px;
}
.info-contact-agile ul li p, .info-contact-agile ul li p a {
    font-size: 13px;
}
.register-form input[type="text"], .register-form input[type="email"], .register-form input[type="password"] {
    padding: 9px 7px;
}
}
@media(max-width:600px){
.hedder-up, .info-top-grid, nav.navbar.navbar-expand-lg.navbar-light {
    padding: 1em 1em;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 14px;
	  padding: 10px 15px;
}
}
@media(max-width:440px){
.email-sub-agile input[type="email"], .contact-forms input, .contact-forms textarea {
    padding: .7em .7em;
}
}
@media(max-width:575px){
   .body-section {
        padding: 0 80px;
    } 
}
@media(max-width:414px){	
.slider-info h5 {
    font-size: 29px;
}
.slider-img {
    min-height: 613px;
}
}
@media(max-width:384px){
.hedder-up, .info-top-grid, nav.navbar.navbar-expand-lg.navbar-light {
    padding: .7em 1em;
}
.slider-info h5 {
    font-size: 23px;
}
.slider-info {
    padding: 23em 0 0;
}
}
@media(max-width:375px){
.slider-info p {
    font-size: 13px;
}
.register-form input[type="text"], .register-form input[type="email"], .register-form input[type="password"] {
    font-size: 14px;
}
}
@media(max-width:320px){
.slider-info h5 {
    font-size: 21px;
}
.slider-info {
    padding: 22em 0 0;
}
}